In [1]:
# tuple method-----1.count 2.index

#1 count---how many times a number come in tuple

x=(1,1,2,2,2,3,8,4,5)
x.count(1)

2

In [2]:
x.count(2)

3

In [3]:
x.count(9)

0

In [4]:
# index------to find out the index value

x=(30,4,12,7,890,400,533,90)
x.index(7)

3

In [5]:
x.index(500)

ValueError: tuple.index(x): x not in tuple

In [6]:
x.index(90)

7

In [7]:
# covert a string into tuple
a='india'
b=tuple(a)
b

('i', 'n', 'd', 'i', 'a')

In [8]:
# wap to create a tuple 
a=2,3,4,5
a

(2, 3, 4, 5)

In [9]:
#wap to covert a tuple to a string

a=(6789)
b=str(a)
b

'6789'

In [10]:
#wap to python to a reverse a tuple
x=(21,3,9,6,89,56,33)
x[::-1]

(33, 56, 89, 6, 9, 3, 21)